.food-card {
  text-align: center;
  margin: 0 20px;
  background-color: white;
  
  @media (min-width:767px) {
    width: 28%;
    
  }

  @media (min-width:1023px) {
    width: 20%;
    
  }

  @media (min-width: 1280px) {
    margin: 0 35px;
  }

  &__content {
    display: block;
    margin-bottom: 50px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      .food-card__name {
        color: rgb(251, 120, 64);
      }

      .shadow {
        opacity: 1;
      }
    }


    .shadow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      opacity: 0;
      transition: opacity 0.8s;
    }
  }

  &__picture {
    position: relative;
    overflow: hidden;
    overflow: hidden;
    object-fit: cover;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (min-width: 479px) {
      height: 250px;
    }
    @media (min-width: 767px) {
      height: 300px;
    }
    @media (min-width: 1280px) {
      height: 420px;
    }
  }
  &__type {
    color: #845f6c;
    margin-top: 10px;
  }

  &__name {
    font-family: Alice, sans-serif;
    font-size: 20px;
    line-height: 1.2em;
    color: rgb(43, 17, 26);
    transition: 0.8s;
  }
}
