.ingredients {
  &__table {
    border: 1px solid rgba(132, 95, 108, 0.3);
    padding: 30px 20px 20px;
    margin-bottom: 30px;
  }

  &__title {
    color: #381823;
    margin-bottom: 20px;
    font-family: Alice, sans-serif;
    font-size: 30px;
    line-height: 1.2em;

    @media (min-width: 500px) {
      font-size: 35px;
    }

    @media (min-width: 991px) {
      font-size: 40px;
    }
  }

  &__content {
    margin-left: 5px;
    li {
      margin-bottom: 10px;
      &::before {
        content: "\2022";
        font-size: 21px;
        padding-right: 7px;
      }
    }
  }
}
